# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
vendor
composer.phar
var/
web/assets/bootstrap/css/bootstrap.css.map
web/assets/custom/css/AdminLTE.css
web/assets/custom/css/AdminLTE.min.css
web/assets/custom/css/skins/
web/assets/custom/img/
web/assets/custom/js/
web/assets/plugins/
