<html>
<body style=" width: 660px; margin-left: 25px; color: black; border-color: #E8E8E8;">

<div style="position: relative; width: 100%; -moz-border-radius: 4px; border-radius: 1px; padding: 0.5em 1em; text-shadow: 0 1px 0 #fff;
     line-height: 1.5; margin: 10px auto;  border: solid; border-width: 2px; border-color: #E8E8E8;  background: white;">
    <p style="font-size: 12px; margin-left: 10px;">Ol&aacute;, <span
                style="font-size: 12px; color: firebrick; font-weight: bold;">{{ body }}</span>
    </p>
    <p style="font-size: 12px; margin-left: 10px;">
        Voce esta cadastrado, so falta confirmar o email.
    </p>

    <div style="text-align: center">
        <a href="http://localhost:8081/index.php/confirm_email/{{ uuid }}">
            <button style="height:28px; background: red;border: none;color: white;border-radius: 2px;cursor: pointer;">
                Confirmar Cadastro
            </button></a>
    </div>

    <p style="font-size: 12px; margin-left: 10px;">Ou confirme pelo link abaixo:</p>

    <p style="font-size: 12px; margin-left: 10px;">
        <a style="color: red;" target="_blank" href="http://localhost:8081/index.php/confirm_email/{{ uuid }}">http://localhost:8081/index_dev.php/confirm_email/{{ uuid }}</a>
    </p>

</div>
</body>
</html>