<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Usuarios{% endblock %} - My Webpage</title>
    {% block head %}
        {% include 'css.twig' %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    {% include 'head.twig' %}
    {% include 'side-bar-menu.twig' %}
    <div class="content-wrapper">
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </div>
    {% include 'footer.twig' %}
    {% include 'configurations.twig' %}
</div>
{% include 'javascript.twig' %}
</body>
</html>