{% extends 'template.twig' %}
    {% block title %}{% endblock %}
    {% block head %}{{ parent() }}{% endblock %}
{% block content %}

    <section class="content-header">
        <h1>
            {% block nome_tela %}{% endblock %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Usuarios</a></li>
            <li class="active">Perfil</li>
        </ol>
    </section>

    <section class="content">
        {% block template %}{% endblock %}
    </section>
{% endblock %}