{% extends 'template.twig' %}
    {% block title %}{% endblock %}
    {% block head %}{{ parent() }}{% endblock %}
{% block content %}

    <section class="content-header">
        <h1>
            {% block nome_tela %}{% endblock %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Usuarios</a></li>
            <li class="active">Listar</li>
        </ol>
    </section>

    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% block nome_relatorio %}{% endblock %}</h3>
                </div><!-- /.box-header -->
                {% block content_form %}{% endblock %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="box">
                {% block content_table %}{% endblock %}
            </div>
        </div>
    </div>
    </section>
{% endblock %}